@font-face {
  font-family: hurme;
  src: url(../../fonts/HurmeGeometricSans2-Regular.woff2) format("woff2"),
    url(../../fonts/HurmeGeometricSans2-Regular.woff) format("woff");
  display: swap;
}
* {
  font-family: herme, -apple-system, BlinkMacSystemFont, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#logo {
  color: rgb(255, 183, 195);
}

h2 {
  top: 100px;
  cursor: pointer;
}

.home {
  font-size: medium;
  font-weight: bold;
}

#home {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  padding: 18px 1%;
  background-color: rgb(166, 126, 126);
}

.leftNav {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.rightNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 380px; */
  width: auto;
}

.auth {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  width: 130px;
  margin-left: 32px;
}

.create {
  padding: 10px, 20px;
  background-color: pink;
  border-radius: 4px;
  border: none;
  width: 96px;
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  padding-left: 10px;
}

input {
  border-radius: 8px;
  background-color: rgb(240, 235, 235);
  border: none;
  min-width: 200px;
  min-height: 30px;
  padding: 10px;
}

#login {
  font-size: medium;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#signup {
  font-size: medium;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* #home {
  padding: 10%;
}
.dropdown {
  padding: 10%;
}
.create {
  padding: 10%;
} */

.dropdown {
  position: relative;
  cursor: pointer;
}

.create {
  padding-top: 8px;
  padding-left: 12px;
  cursor: pointer;
}

.create:hover {
  background-color: rgb(238, 173, 184);
}

.down {
  position: absolute;
  right: 10px;
  top: 5px;
}

.invis {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 10px;
  top: 5px;
}

/* .create:hover .create:focus {
} */

.menu-dropdown {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: pink;
  min-width: 205px;
  z-index: 1;
}

.menu-dropdown .nav {
  color: white;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 700;
  display: block;
  text-decoration: none;
}

.menu-dropdown .nav:hover {
  background-color: rgb(248, 220, 224);
}

.searchContainer {
  display: flex;
  flex-direction: column;

  /* position: absolute; */
}

.searchList {
  display: none;
  position: absolute;
  border-radius: 0.3rem;
  background-color: #87696b;
  top: 48px;
  cursor: pointer;
  z-index: 1;
}

.searchTerm {
  display: flex;
  align-items: center;
  height: 40px;
  width: 250px;
  font-size: 14px;
  font-weight: 400;
  color: aliceblue;
  padding-left: 10px;
  text-decoration: none;
}
.searchTerm:hover {
  background-color: #b49e9f;
}
.searchText {
  font-size: 14px;
  font-weight: 400;
  color: aliceblue;
  padding-left: 10px;
  text-decoration: none;
}
.glass {
  position: absolute;
  height: 34.5px;
  width: 32px;
  background-color: #e3bdc0;
  border-radius: 0.5rem;
  padding-top: 5px;
  padding-left: 10px;
}
.search {
  font-family: hurme_no2-webfont, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
  width: 250px;
  height: 34.5px;
  padding-right: 0px;
  padding-left: 45px;
  margin-right: 4%;
  background-color: #e3bdc0;
}
/* .display {
  display: block;
} */
