@font-face {
  font-family: hurme;
  src: url(../../fonts/HurmeGeometricSans2-Regular.woff2) format("woff2"),
    url(../../fonts/HurmeGeometricSans2-Regular.woff) format("woff");
  display: swap;
}
* {
  font-family: herme, -apple-system, BlinkMacSystemFont, sans-serif;
}
.user {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  left: 40px;
}

.dropdownProfile {
  display: none;
  position: absolute;
  top: 50px;
  right: 30px;
  background-color: rgb(166, 126, 126);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 0.5rem;
  min-width: 200px;
  z-index: 1;
}

.dropdownProfile .nav {
  display: flex;
  padding-left: 5%;
  align-items: center;
  color: grey;
  padding: 12px, 16px;
  height: 100px;
  text-decoration: none;
}

.dropContainer {
  display: flex;
  flex-direction: column;
  width: 190px;
}

.user:hover {
  cursor: pointer;
}

.userInfo {
  display: flex;
  justify-content: center;
  width: 200px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #e3bdc0;
  padding-bottom: 10px;
}

.pic2 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 15px;
  height: 32px;
  width: 32px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100px;
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  height: 70px;
  width: 200px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #e3bdc0;
  padding-bottom: 10px;
}

#profileNav {
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding-left: 22px;
  height: 30px;
}

#settingsNav {
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding-left: 22px;
  height: 30px;
}

#logoutNav {
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding-left: 22px;
  width: 200px;
  margin-top: 10px;
  height: 30px;
  margin-bottom: 10px;
}

#profileNav:hover,
#settingsNav:hover,
#logoutNav:hover {
  background-color: rgb(194, 164, 164);
}

.stuff1 {
  padding: 10px, 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.stuff2 {
  padding: 10px, 20px;
  font-size: 12px;
  color: white;
  font-weight: lighter;
}

.text {
  margin-top: 10px;
}
