.background2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top-style: solid;
  border-color: #e3bdc0;
  overflow: auto;
  height: 100vh;
  background-color: rgb(166, 126, 126);
}
.card {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  width: 793px;
  height: 428px;
  margin-bottom: 110px;
  /* transition: transform 1s;
  transform-style: preserve-3d; */
  background-color: #e3bdc0;
}
